.body{
    margin: 0;
    background-color: #16181d;
    color: white;
    font-family: monospace;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #16181d;
    box-shadow: 0 0 0.25rem 0 white;
}

.nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container{
    max-width: 1024px;
    padding-right: 1rem;
    padding-left: 1rem;    
    margin: auto;
}

.img{    
    display: block;
}

.img--logo{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.img--hero{
    width: 220px;
    height: 220px;
    border-radius: 0 0 50% 50%; 
    box-shadow: -0.25rem -0.25rem 1rem 0.25rem #149eca, 0.25rem 5px 1rem 0.25rem rgb(0, 213, 83, 0.8);    
    /* transform: rotateY(180deg); */
}

@media (min-width: 768px){
    .img--hero{
        width: 260px;
        height: 260px;
    }
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.list--menu{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000080;
    transition: opacity 0.25s;
}

.list--menu:target{
    opacity: 1;
    pointer-events: initial;
}

@media (min-width: 768px){
    .list--menu{
        opacity: 1;
        pointer-events: initial;
        position: initial;
        background-color: initial;
    }
}

.link{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.25s color;
}

.link:hover{
    color: #149eca;
}

.hero{
    min-height: 100vh;
    /* background-image: linear-gradient(#00000080, #00000080), url('https://i.postimg.cc/ht09wTWh/fondo-matrix-01.webp'); */
    background-image: linear-gradient(#00000080, #00000080), url('../img/fondo_matrix_01.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before{
    content: '';
}

.card{
    max-width: 512px;
}

.card__body{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
}

.card__title{
    margin: 0;
    font-size: 1.5rem;
}

.card__title--lg{
    font-size: 1.75rem;
}

.card__text{
    margin: 0;
}

@media (min-width: 768px){
    .card__body{
        gap: 1rem;
    }
}

.icon{
    display: flex;
    font-size: 1rem;
    color: #149eca;
    box-shadow: 0 0 0 0.125rem #149eca;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    padding: 0.5rem;
    text-shadow: 0 0 0.25rem;
}

.icon--lg{
    font-size: 1.5rem;
}

.icon i{
    display: flex;
}

@media (min-width: 768px){
    .icon{
        font-size: 1.5rem;
    }
}

.button{
    display: flex;
    padding: 0.5em 2em;
    border: none;
    border-radius: 1rem;
    /* background-color: #149eca;     */
    background-color: #195F80;
    color: white;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadown 0.25s, filter 0.25s;    
}

.button:hover{
    box-shadow:
        0 0 0.125rem 0.0625rem #149eca,
        0 0 0.25rem 0.125rem #149eca;
    filter: brightness(1.125);
}

@media (min-width: 768px){
    .button{
        font-size: 1rem;
    }
}

.flexbox{
    display: flex;
}

.flexbox--header{
    align-items: center;
    justify-content: space-between;
}

.flexbox--responsive{
    flex-direction: column;
}

.flexbox--center{
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px){
    .flexbox--responsive{
        flex-direction: row;
    }
}

.g-layout{
    display: grid;    
}

.g-layout--1-1{
    grid-template-columns: 1fr;    
}

.g-layout--center{
    align-items: center;
    justify-items: center;
}

@media (min-width: 768px){
    .g-layout--1-1{
        grid-template-columns: 1fr 1fr;       
    }
}

.d-flex{
    display: flex;
}

.gap-1xs{
    gap: 1rem;
}

.gap-sm{
    gap: 1.5rem;
}

.gap-md{
    gap: 2rem;
}

.color-primary{
    color: #149eca;
    text-shadow: 0 0 1rem #149eca,    
}

.d-none{
    display: none;
}

@media (min-width: 768px){
    .md\:d-block{
        display: block;
    }

    .md\:d-none{
        display: none;
    }
}




