.body{
    margin: 0;
    background-color: #16181d;
    color: white;
    font-family: monospace;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #16181d;
    box-shadow: 0 0 0.25rem 0 white;
}

.nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container{
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 1024px;
    margin: auto;
}

.img{    
    object-fit: cover;
}

.img--logo{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.link{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.25s color;
}

.link:hover{
    color: #087ea4;
}

.flexbox{
    display: flex;
}

.flexbox--header{
    align-items: center;
    justify-content: space-between;
}

.d-flex{
    display: flex;
}

.gap-1xs{
    gap: 1rem;
}

.hero{

}